<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/bc03dd9841.js" crossorigin="anonymous"></script>

    
        <title>ISIS2503 - Global Template</title>
   
    </head>
    <body>
        <br>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            
            <nav class="navbar navbar-light bg-light">
                <a class="navbar-brand" href="/">
                <img src="/static/media/logo.png" width="45" height="45" alt="">
                </a>
            </nav>

          <nav class="navbar navbar-light bg-light">
              <a class="navbar-brand" href="/">
                  Banco de los Alpes
              </a>
          </nav>


          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                
                <li class="nav-item">
                    <a class="nav-link" href="/tarjetas/todaslastarjetas">Todas las tarjetas</a>
                </li>
                
            </ul>
            

          </div>
        </nav>


        <main>
          <div class="container" style="min-height: 580px;">
    <h2>Formulario de Tarjeta de Crédito</h2>
    <form action="/tarjetas/submit" method="post">
        <label for="ingresos">Ingresos:</label><br>
        <input type="number" id="ingresos" name="ingresos"><br>
        <label for="egresos">Egresos:</label><br>
        <input type="number" id="egresos" name="egresos"><br>
        <label for="pasivos">Pasivos:</label><br>
        <input type="number" id="pasivos" name="pasivos"><br>
        <label for="variables_mercado">Variables del mercado:</label><br>
        <input type="text" id="variables_mercado" name="variables_mercado"><br>
        <label for="tipo_tarjeta">Tipo de tarjeta:</label><br>
        <select id="tipo_tarjeta" name="tipo_tarjeta">
            <option value="Visa">Visa</option>
            <option value="MasterCard">MasterCard</option>
        </select><br>
        <label for="gmail">Correo electrónico (gmail):</label><br>
        <input type="email" id="gmail" name="gmail"><br> <!-- Asegúrate de que sea un campo de correo electrónico -->
        <input type="submit" value="Submit">
    </form>
    
</div>
</main>

</body>

<!-- Footer -->
<footer style="background-color: #D8D8D8; position: relative; bottom: 0; width: 100%; height: 100px;">

    <div style="padding: 30px">
        <div style="float: left; width: 400px;" >ISIS-2503 Arquitectura y Diseño de Software</div>
        <div style="float: right; width: 220px;" >Universidad de los Andes</div>
        <br>
        <div style="float: left; width: 400px;" ><i>Grupo 3 </i></div>
    </div>
    <br>

</footer>
<!-- Footer -->

</html>

