{% extends 'base.html' %}

{% block content %}
<div class="page-content-wrapper">
    <div class="container">
        <!-- Content page -->

        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <tr style="color:#0E2EB0">
                        <td>{{ cliente.nombre }}</td>
                    </tr>
                    <label for="inputValue">Ingresa el password de su tarjeta:</label>
                    <input type="text" class="form-control" id="inputValue" name="valor" placeholder="Escribe aquí" required>
                </div>
                <button type="button" class="btn btn-primary" onclick="enviarValor()">Enviar</button>



                <div style="text-align:center;">
                    <button type="button" class="btn btn-primary waves-effect waves-light" onclick="window.location.href='/'">
                        Back
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>

<script>
    function enviarValor() {
        var valor = document.getElementById('inputValue').value;
        var url = '/creandoTarjeta/' + encodeURIComponent(valor);
        window.location.href = url;
    }
</script>
{% endblock %}
